Repository manticoresoftware/openapi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: csharp_push, python_push, javascript_push, typescript_push, java_push, elixir_push

Path conditions:
  csharp_push: any of: out/manticoresearch-csharp/**/*
  python_push: any of: out/manticoresearch-python/**/*
  javascript_push: any of: out/manticoresearch-javascript/**/*
  typescript_push: any of: out/manticoresearch-typescript/**/*
  java_push: any of: out/manticoresearch-java/**/*
  elixir_push: any of: out/manticoresearch-elixir/**/*

Updated Readme
  out/manticoresearch-typescript/README.md
Due: typescript_push

Updated client version number
  .gitlab-ci.yml
  out/manticoresearch-typescript/README.md
  versions/typescript
Due: typescript_push

Updated Readme
  .gitlab-ci.yml
  out/manticoresearch-typescript/README.md
Due: typescript_push

Updated Readme
  out/manticoresearch-typescript/README.md
  versions/typescript
Due: typescript_push

Updated Readmes
  out/manticoresearch-csharp/README.md
  out/manticoresearch-java/README.md
  out/manticoresearch-javascript/README.md
  out/manticoresearch-python/README.md
  out/manticoresearch-typescript/README.md
Due: csharp_push, python_push, javascript_push, typescript_push, java_push

Fixed BulkResponse structure, updated build script and templates
  build.sh
  docs/typescript/README.md
  docs/typescript/docs/IndexApi.md
  docs/typescript/docs/SearchApi.md
  docs/typescript/docs/UtilsApi.md
  manticore.yml
  templates/Java/README.mustache
  templates/Javascript/README.mustache
  templates/Typescript/README.mustache
  templates/Typescript/apis.mustache
  templates/Typescript/licenseInfo.mustache
  templates/Typescript/package.mustache
  templates/Typescript/tsconfig.mustache
  templates/csharp-netcore/README.mustache
  templates/python/README.mustache
  test/typescript/manual.test.ts
Due: none

Updated ci for the TypeScript client
  .gitlab-ci.yml
Due: none

Updated ci
  .gitlab-ci.yml
Due: none

Updated api schema, templates, build script and gitlab ci config
  .gitlab-ci.yml
  build.sh
  docs/typescript/README.md
  docs/typescript/docs/IndexApi.md
  docs/typescript/docs/SearchApi.md
  docs/typescript/docs/UtilsApi.md
  manticore.yml
  templates/Java/README.mustache
  templates/Javascript/README.mustache
  templates/Typescript/README.mustache
  templates/Typescript/apis.mustache
  templates/Typescript/licenseInfo.mustache
  templates/Typescript/package.mustache
  templates/Typescript/tsconfig.mustache
  templates/csharp-netcore/README.mustache
  templates/python/README.mustache
  test/typescript/manual.test.ts
Due: none

Updated config for tests
  out/manticoresearch-csharp/src/ManticoreSearch.Test/Api/IndexApiTests.cs
  out/manticoresearch-csharp/src/ManticoreSearch.Test/Api/SearchApiTests.cs
  out/manticoresearch-csharp/src/ManticoreSearch.Test/Api/UtilsApiTests.cs
Due: csharp_push

Fixed Readme
  out/manticoresearch-typescript/README.md
Due: typescript_push

Fixed Readme
  .gitlab-ci.yml
  docs/typescript/README.md
  manticore.yml
  out/manticoresearch-typescript/README.md
Due: typescript_push

Fix Markdown Formatting and Make Tests Runnable
  docs/typescript/README.md
  docs/typescript/docs/IndexApi.md
  docs/typescript/docs/SearchApi.md
  docs/typescript/docs/UtilsApi.md
  out/manticoresearch-typescript/README.md
  out/manticoresearch-typescript/docs/IndexApi.md
  out/manticoresearch-typescript/docs/SearchApi.md
  out/manticoresearch-typescript/docs/UtilsApi.md
  out/manticoresearch-typescript/package.json
  out/manticoresearch-typescript/src/models/index.ts
  templates/Typescript/README.mustache
  templates/Typescript/package.mustache
Due: typescript_push

Fix Test Formatting
  out/manticoresearch-typescript/test/manual.test.ts
  test/typescript/manual.test.ts
Due: typescript_push

Let Tests Fail on Error Responses
  out/manticoresearch-typescript/package-lock.json
  out/manticoresearch-typescript/test/manual.test.ts
  test/typescript/manual.test.ts
Due: typescript_push

Make optional rawResponse parameter default to true
  out/manticoresearch-typescript/src/apis/UtilsApi.ts
  templates/Typescript/apis.mustache
Due: typescript_push

Introduce Failing Test for Aggregations
  out/manticoresearch-typescript/test/manual.test.ts
  test/typescript/manual.test.ts
Due: typescript_push

BREAKING: Change OpenAPI Spec to Fix Tests
  manticore.yml
  out/manticoresearch-typescript/src/models/index.ts
  out/manticoresearch-typescript/test/manual.test.ts
  test/typescript/manual.test.ts
Due: typescript_push

Revert changes in out directory
  out/manticoresearch-typescript/README.md
  out/manticoresearch-typescript/docs/IndexApi.md
  out/manticoresearch-typescript/docs/SearchApi.md
  out/manticoresearch-typescript/docs/UtilsApi.md
  out/manticoresearch-typescript/package-lock.json
  out/manticoresearch-typescript/package.json
  out/manticoresearch-typescript/src/apis/UtilsApi.ts
  out/manticoresearch-typescript/src/models/index.ts
  out/manticoresearch-typescript/test/manual.test.ts
Due: typescript_push

Add Failing Test for Expressions
  test/typescript/manual.test.ts
Due: none

Fix Expressions in OpenAPI Spec + Add Passing Test
  manticore.yml
  test/typescript/manual.test.ts
Due: none

Fix Typescript Models and Tests (#8)
  docs/typescript/README.md
  docs/typescript/docs/IndexApi.md
  docs/typescript/docs/SearchApi.md
  docs/typescript/docs/UtilsApi.md
  manticore.yml
  templates/Typescript/README.mustache
  templates/Typescript/apis.mustache
  templates/Typescript/package.mustache
  test/typescript/manual.test.ts
Due: none

Updated Readme
  README.md
Due: none

Fix Typescript Models and Tests (#8) (#9)
  docs/typescript/README.md
  docs/typescript/docs/IndexApi.md
  docs/typescript/docs/SearchApi.md
  docs/typescript/docs/UtilsApi.md
  manticore.yml
  templates/Typescript/README.mustache
  templates/Typescript/apis.mustache
  templates/Typescript/package.mustache
  test/typescript/manual.test.ts
Due: none

use jakartaEe
  build.sh
Due: none

use jakartaEe (#11)
  build.sh
Due: none

Updated Readme templates
  templates/Java/README.mustache
  templates/Javascript/README.mustache
  templates/Typescript/README.mustache
  templates/csharp-netcore/README.mustache
  templates/python/README.mustache
Due: none

Updated templates for the Typescript client, updated the build script
  build.sh
  docs/typescript/docs/IndexApi.md
  misc/typescript/tsup.config.ts
  out/manticoresearch-typescript/.github/workflows/publish.yml
  out/manticoresearch-typescript/.github/workflows/test.yml
  out/manticoresearch-typescript/.gitignore
  out/manticoresearch-typescript/.openapi-generator/VERSION
  out/manticoresearch-typescript/LICENSE.txt
  out/manticoresearch-typescript/README.md
  out/manticoresearch-typescript/docs/IndexApi.md
  out/manticoresearch-typescript/package.json
  out/manticoresearch-typescript/src/apis/IndexApi.ts
  out/manticoresearch-typescript/src/apis/SearchApi.ts
  out/manticoresearch-typescript/src/apis/UtilsApi.ts
  out/manticoresearch-typescript/src/models/index.ts
  out/manticoresearch-typescript/src/runtime.ts
  out/manticoresearch-typescript/test/manual.test.ts
  out/manticoresearch-typescript/tsconfig.json
  out/manticoresearch-typescript/tsup.config.ts
  templates/Typescript/README.mustache
  templates/Typescript/apis.mustache
  templates/Typescript/package.mustache
  templates/Typescript/tsconfig.mustache
  test/typescript/manual.test.ts
  versions/typescript
Due: typescript_push
